<p id="notice"><%= notice %></p>

<h1>Belts</h1>

<table class="table table-hover athlete-table">
  <thead class="thead-dark">
    <tr>
      <th colspan="2" scope="col">Name</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @belts.each do |belt| %>
      <tr>
        <td colspan="2"><%= belt.name %></td>
        <td colspan="2"><%= link_to 'Show', belt %></td>
      </tr>
    <% end %>
  </tbody>
</table>
